.position-relative {
    position: relative;
  }
  
  .loader-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it's above other content */
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .text-center
  {
    background-color: hsl(199, 22%, 14%);
  }

  .card-datas
  {
    color: white;
  }